<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>Bearer patIf5VTcmNOv7JE8.6e080e7d64e9ccbdb42e29cfe4c0639416bdc63841531155d4b0936c82c95bdc</string>
</dict>
</plist>
